
:root {
    --normal: white;
    --background: whitesmoke;
    --primary: black;
    --secondary: #035b96;
    --danger: darkred;
    --abstract: #e8eef2;
    --logo: #035b96;
}
[data-theme='dark'] {
    --normal: #202020;
    --background: black;
    --primary: white;
    --secondary: #035b96;
    --danger: darkred;
    --abstract: #181818;
    --logo: white;
}

.main{
    font-family: 'Monda', sans-serif;
    background-color: var(--background);
    min-height: 100vh;
}

.navbar{
    background-color: var(--normal);
    color: var(--secondary);
}

.navbar img{
    height: 50px;
}

.navbar span{
    color: var(--logo);
    margin-left: 10px;
    font-weight: bolder;
    font-size: 24px;
}

.toogle-btn{
    background-color: var(--secondary);
}

.editor{
    background-color: var(--abstract);
    color: var(--primary);
    border-radius: 10px 0px 0px 10px;
    padding: 50px;
}

.generator{
    background-color: var(--normal);
    color: var(--primary);
    border-radius: 0px 10px 10px 0px;
    padding: 50px;
}

.main-option{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option-item{
    flex: 18%;
    margin: 5px;
}

.option{
    background-color: white;
    color: var(--secondary);
    border-radius: 5px;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.option:hover{
    background-color: var(--secondary);
    color: white;
}

.active{
    background-color: var(--secondary);
    color: white;
}

.option i{
    font-size: 20px;
}

.option p{
    margin: 0; padding: 0;
}

.inputList{
    margin-top: 50px;
}

.inputList h3{
    margin-top: 20px;
    color: var(--secondary);
    padding: 0px 80px;
}

.inputList img{
    height: 200px;
}

.default{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.generate-btn{
    background-color: var(--secondary);
    color: white;
    transition: 200ms ease-in-out;
}

form{
    background-color: var(--normal);
    border-radius: 10px;
    padding: 40px 20px;
    animation: show 300ms ease-in-out;
}

.form-control{
    background-color: var(--normal);
    color: var(--primary);
}

.qr-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colorPicker {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.colorPicker .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .editor{
        border-radius: 10px 10px 0px 0px;
        padding: 20px 10px;
    }
    
    .generator{
        background-color: var(--normal);
        color: var(--primary);
        border-radius: 0px 0px 10px 10px;
        padding: 20px 10px;
    }

    .inputList h3{
        padding: 0px 10px;
    }
}
