
:root {
    --normal: white;
    --background: whitesmoke;
    --primary: black;
    --secondary: #035b96;
    --danger: darkred;
}
[data-theme='dark'] {
    --normal: #202020;
    --background: black;
    --primary: white;
    --secondary: #035b96;
    --danger: darkred;
}

.main{
    font-family: 'Monda', sans-serif;
    background-color: var(--background);
    min-height: 100vh;
}

.navbar{
    background-color: var(--normal);
    color: var(--secondary);
}

.navbar img{
    height: 50px;
}

.navbar span{
    color: var(--secondary);
    margin-left: 10px;
    font-weight: bolder;
    font-size: 24px;
}

.toogle-btn{
    background-color: var(--secondary);
}